#orderMainWrap{
	width: 950px;
	margin-top: 80px;
	border: 1px solid black;
}
#orderMainWrap div{border: 1px solid black;}

/* 장바구니 각 파트 상단 타이틀영역 */
#orderContentBar {height: 50px;}
#orderMainWrap .order-content-block{min-height: 100px; margin-top: 30px;}

/* 각 파트 내부div 정렬 */
#cartContentBar div,
#orderMainWrap .order-content-block div,
#orderSummary .col-4,
#orderSummary .row,
#orderSummary .summary-col {
	display: flex;
	align-items: center;
}
/* 중앙 정렬 요소들 */
#orderMainWrap .close-box-area, /* 체크박스 */
#orderContentBar .col, .col-2, /* 콘텐트바 */
#orderMainWrap .cart-content-block .col, /* 콘텐트블록 */
.col-2,
#orderSummary .summary-col
 { 
	justify-content: center;
	text-align: center;}
/* 체크박스 div */
#orderMainWrap .close-box-area {
	width: 30px;
}
#orderMainWrap .check-box-label {
	width:30px;
	height:30px;
	margin: 0px;
}
#cartCheckBoxAll,
#orderMainWrap .check-box-label, .cart-check-box-one:hover {
	cursor: pointer;
}
/* 할인, 배송 정보 영역 */
#orderMainWrap .cart-extra-info-area .row {
	width: 100%;
	height: 100%;
}

/* 전체 금액, 배송비, 총 합계, 주문버튼 영역 */
#orderSummary .row,
#orderSummary .summary-col
{min-height: 50px;}