<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<appender name="console.sql" class="ch.qos.logack.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d %5p %m %n</Pattern>
		</encoder>
	</appender>
	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d [%c] %5p %m %n</Pattern>
		</encoder>
	</appender>
	
	<logger name="com.kh" level="info" appender-ref="console" />
	<logger name="jdbc.sqlonly" level="INFO" appender-ref="console-sql" />
	<logger name="jdbc.resultsettable" level="INFO" appender-ref="console-sql" />
	
	<root level="info">
		<appender-ref ref="console" />
	</root>
	
	
</configuration>